[Unit]
Description=Calif Calendar Transformer

[Service]
ExecStart=/home/nyson/.cabal/bin/calif
PIDFile=/var/run/calif.pid

[Install]
WantedBy=multi-user.target

